html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 20px;
  background-color: white;
  overflow-x: hidden;
  line-height: 150%;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100%;
  max-width: 800px;
  min-height: 100vh;

  background-color: white;
  color: black;
  text-align: left;
  padding: 4rem;
  box-sizing: border-box;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  margin: 0 auto;
}



.head {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;


}

.intro {
  font-size: 2rem;
  line-height: 150%;
}

.nav {
  font-size: 1rem;
  margin: 10% 0 10% 0;
}

.nav ol {
  padding: 30px;
  border: solid 1px black;
  border-radius: 1rem;
  max-width: 150px;
}

section {
  margin-bottom: 10%;
  font-size: 1rem;
  line-height: 150%;
}

.caption {
  text-align: center;
  font-size: 0.8rem;
  color: grey;
  margin: 0;
}